<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Concepto</h2>
                <hr class="light">
                <p class="text-faded">Considerar &amp; aplicar los mas altos estándares de calidad de la construcción Mexicana; pensando siempre en la optimización de los recursos y la sostenibilidad de cada uno de nuestros proyectos desde la concepción hasta la realización. Nuestros valores son: respeto + equidad. El equipo multidisciplinario se integra de acuerdo a las necesidades de cada cliente.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Contactenos</a>
            </div>
        </div>
    </div>
</section>
